*{box-sizing: border-box;}


%plainText {
    color: #4D5053;
    font-weight: 400;
    font-size: 21px;
    font-family: "Jost";
}

%headingText {
    color: #292F36;
    font-weight: 400;
    font-family: "DM Serif Display";
}

@mixin flex($justifyContent: center, $align: center, $direction: row) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justifyContent;


}

body {
    //margin: 0 auto;
    //width: 1200px;
    padding: 0;

}

.center {
    margin: 0 auto;
    width: 1200px;
}

.header,
.navigation_list {
    @include flex(space-between)
}

.header {
    margin-top: 44px;
    margin-bottom: 57px;
}

.navigation_list {
    gap: 31px;

}

a {
    text-decoration: none;
    @extend %plainText;
}

ul {
    list-style-type: none;
}

.navigation_item {
    @extend %plainText;

}
.banner{
    background-image: url(./img/Image.jpg);
    height: 758px;
padding: 208px 715px 208px 52px;
    @include flex(center,flex-start,column );
   
} 

.banner_header{
    @extend %headingText;
    font-size: 65px;
    line-height: 81px;
    margin-bottom: 18px;

}
.banner_text{
    @extend %plainText;
    margin-top: 0px;

}
.banner_button{
    @include flex(center,center,row);
    gap: 10px;
    background-color:  #292F36;
    color: #FFFFFF;
    font-size: 18px;
    font-family: "Jost";
    font-weight: 600;
    line-height: 22px;
    padding: 26px 48px 26px 48px;
    border-radius: 18px;
    
}
.heading{
@include flex(center,center,column );
gap: 8px;
padding: 92px 236px 92px 236px;
}
.heading_title{
@extend %headingText;
line-height: 52px;
font-size: 50px;
margin-bottom: 0px;
}
.heading_text{
text-align: center;
}

.project{
display: grid;
grid-template-areas:"A B"
                    " C D" ;
align-items: stretch;
justify-items: stretch;
grid-column-gap:52px ;
// grid-template-rows: 54px;
row-gap:56px;
margin-bottom: 96px;
}
.project_card{
@include flex(center,flex-start ,column );

    img {
    width: 100%;}
// gap: 24px;
}
.project_content{
@include flex(space-between,center,row);
width: 100%;
}
.project_card-button{
 background-color: #F4F0EC;
 border:#F4F0EC;
 border-radius: 50%;
 width: 70px;
 height: 70px;

}

.project_card_title{
@extend %headingText;
font-size: 25px;
line-height: 31px;
margin-bottom: 28px;
margin-bottom: 4px;
}
.project_card_text{
@extend %plainText;
font-size: 22px;
margin-top: 0px;
margin-bottom: 0px;
line-height: 33px;
}

.counter{
background-color: #F4F0EC;
height: 457px;
width: auto;
@include flex(center,center );
gap: 152px;
text-align: center;
margin-bottom: 96px;

}
.counter-cards{
position: relative;

}
.counter-cards:not(:last-child)::before {
  content: "";
  background-color: #CDA274;
  height: 130px;
  width: 1px;
  position: absolute;
  right:-76px;
}
.counter_card_name{
@extend %headingText;
color: #CDA274;
font-size:77px;
margin: 0px;

}
.blog{
}
.blog_name{
text-align: center;
}
.blog_text{
width: 811px;
text-align: center;
margin-bottom: 52px;
}

.blog_cards{
@include flex(center,center ,row )
;gap: 27px;
// height: 521px;

}
.bloc_cards_content{
border: 1px solid #E7E7E7;
border-radius: 62px;
padding: 21px;
@include flex(center,center ,column );

&_title{
@extend %headingText;
font-size: 25px;
letter-spacing:2%; 
padding: 0px;
text-align: start;
padding-bottom: 31px;
margin: 0px;
line-height: 31px;
letter-spacing: 2px;
}
&_text{
@extend %plainText;
font-size: 16px;
text-align: start;
width: 100%;
// padding-left: px;
@include flex(space-between );
padding-right: 21px;

}
}
.blog_button{
border: none;
width: 52px;
height: 52px;
background-color: #F4F0EC;
border-radius: 50% ;
}
.bloc_cards-content__colorfull{
background-color: #F4F0EC;
&_button {
background-color:#FFFFFF;
}
}
.footer{
margin-bottom: 134px;
margin-top: 200px;
}
.footer_cards{
@include flex(space-between,center ,row );
    width: 100%;
    clear:both;

&_interno{
  float: left;
    width: 33%;
    &_icons{
    @include flex(flex-start,center);
    gap: 55px;
    }
};
&_footer_cards_pages{
  float: center;
    width: 33%;

}
&_footer_cards_contact{
  float: right;
    width: 33%;
    

}
}
.footer_cards_interno_text,.footer_cards_pages_text,.footer_cards_contact_text{
@extend %plainText;
font-size: 22px;
}
.footer_cards_contact_title,.footer_cards_pages_title{
@extend %headingText;
font-size: 25px;
}


.top{
    background: #FFFFFF;
    

    &_title{
        @extend %headingText;
        font-size:50px ;
        line-height: 62.5px;
        margin-bottom: 0px;

    }
    &_text{
        @extend %plainText;
        font-size: 22px;
        line-height: 33px;
        margin-top: 0px;
    }


    // padding-bottom: 200px;
}
.top_content{
    display: flex;
    flex-direction: column;
    align-items: center;
     justify-content: center;
    //  padding: 41px 78px 41px 78px;   
     border-radius: 37px 37px 0px 0px;
     background-color: #FFFFFF;
     z-index: 1;
     position: relative;
     transform: translateY(-100%);
     width: 503px;


}

.Latest_Post_title{
    @extend %headingText;
    font-size: 50px;
    letter-spacing: 2%;
}
.Latest_Post_contents{
    @include flex(center,center ,row);
    gap: 65px;

}
.Latest_Post_content{
    padding: 51px 34px 51px 0px;
    width: 470px; 
}
.Latest_Post_content_title{
@extend %headingText;
font-size: 25px;
letter-spacing: 2%;
line-height: 31px;
}
.Latest_Post_content_text{
    @extend %plainText;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 1%;
}

.blog_cards_vue{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 28px;
    column-gap: 28px;
    
}
.vue_card{
    padding: 21px;

}





